/Exemplos/nbproject/private/
/Exemplos/build/
/IFSUL_CRUD/nbproject/private/
/IFSUL_CRUD/build/
/GETPOST/nbproject/private/
/GETPOST/build/
/TestesJPA/nbproject/private/
/TestesJPA/build/
/TestesJPA/dist/
/GETPOST/dist/
/IFSUL_CRUD/dist/
/FAZENDO_IFSUL_CRUD/dist/